* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("img/campo_di_grano_viola.webp");
    background-size: cover;
    backdrop-filter: blur(3px);
    text-align: center;
}

/*////////Menu////////*/

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #777;
    padding: 15px 30px;
    color: white;
}

.menu .logo {
    display: flex;
    align-items: center;

}

.menu .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.menu-links a {
    color: black;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}


/*////////FUNZIONALITA'////////*/

.singole-funzionalità {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.button {
    width: 250px;
    height: 300px;
    background-color: #f4c6b1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    position: relative;
}

.button img {
    max-width: 100%;
    max-height: 100%;
}

.button:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.5);
}

.lista-f{
    list-style-type: none;
    max-height: 300px; /* Imposta l'altezza desiderata per la lista */
    overflow-y: auto;  /* Abilita lo scrolling verticale */
    padding-right: 10px; /* Piccolo spazio per evitare che il contenuto tocchi il bordo */

}
.lista-f li{
    display: flex;
    font-size: 14px;
}

/*////////PIANTINA////////*/

.piantine {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.box-piantina {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.box-piantina:hover {
    transform: scale(1.05);
    background-color: rgba(255, 0, 0, 0.8);
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
  }

  .card{
    position: relative;
    width: 250px;
    height: 300px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
  }
  .card .face.face1 h2{
    margin: 0;
    padding: 0;
  }
  
  .card .face.face1 .content{
    font-size:1.2em;
    margin:0;
    padding:0 0 1em 0;
    font-weight:500;
  }

  .card .face.face2{
    background: #111;
    transition: 0.5s;
    border-radius: 15px;
  }
  
  .card:hover .face.face2{
    height: 60px;
    border-radius: 0 0 15px 15px;
  }
  
  .card .face.face2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }
  
  .card .face.face2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card .face.face2 img{
    margin: 0;
    padding: 0;
    max-width: 250px;
    max-height: 150px;
    transition: all 0.5s ease;
  }
  
  .card:hover .face.face2 img{
    max-width: 160px;
    max-height: 110px;
    transform: scale(0.5); ;
  }

  .immagini {
    width: 250px;
    height: 150px;
  }
  

/*////////PIANTINA////////*/

  .container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c73df;
}

.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
}

.container .card .slide {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.container .card:hover .slide.slide1{
    transform: translateY(0px);
}

.container .card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.container .card:hover .slide.slide2{
    transform: translateY(0);
}

.container .card .slide.slide2::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 15px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #2c73df;
}

.container .card .slide.slide2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .slide.slide2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #414141;
}


/*////////FORM////////*/
  
  .form-control{
  	width: 50%;
	margin-left: 60px;  	
  }

.form{
	margin: 30px;
	justify-content: left;
}
.btn-primary{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #a542b3;
	border: 1px solid #6c2a75;
}
.btn-primary:hover{
	background-color: #6c2a75;
	border: 1px solid #4e1d54;
}
.btn-primary:active,
.btn-primary:focus {
    background-color: #4e1d54 !important;
    border-color: black !important;
    outline: 4px solid #6c2a75 !important;
    box-shadow: 0 0 5px black !important;
}


/*////////INFO-BOX////////*/

.informazioni {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
  width: 100%;
}

.info-box {
  width: 30%;
  height: 150px;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  flex-shrink: 1;
  box-sizing: border-box;
}

.contenitore {
    display: flex;
    align-items: center; /* Allinea verticalmente */
    gap: 5px; /* Spazio tra le colonne */
    margin-right:5px ;
}

.colonna {
    flex: 1; /* Ogni colonna occupa lo spazio equamente */
}

.immagine img {
    max-width: 100px; /* Imposta una dimensione all'immagine */
    height: auto;
}

.colonna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testo {
    text-align: center;
}

.valori-parametri{
	padding-top: 38px;
	font-size: 47px;
	color: #a542b3;
}


/*////////BUTTON////////*/

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 62px;
  height: 35px;
  
 }

 .switch input {
  opacity: 1;
  width: 0;
  height: 0;
 }

 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: .4s;
  border-radius: 30px;
  border: 1px solid #ccc;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: .4s;
 }
 
 input:checked + .slider {
  background-color: #5fdd54;
  border: 1px solid transparent;
 }
 
 input:checked + .slider:before {
  transform: translateX(1.5em);
 }